{% extends 'basic.html' %}
{% load static %}
{% block title %}
Register Page
{% endblock %}
{% block nav %}
<h1 style="text-align:center">New User!</h1>
<div class="container mt-3" align="center"></div>
{% endblock %}

{% block content %}
<div class="container" align="center">
    <div class="card" style="width: 33rem;">
        <div class="card-body">
            <h5 class="card-title">Enter Your Details Here!</h5>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="tbusername" class="form-control" placeholder="Enter UserName"/><br>
                    <input type="email" name="tbemail" class="form-control" placeholder="Enter Email" ><br>
                    <input type="password" name="tbpass1" class="form-control" placeholder="Enter Password" ><br>
                    <input type="password" name="tbpass2" class="form-control" placeholder="Confirm Password" ><br>
                    <input type="submit" value="Register" class="form-control btn btn-warning">
                </form>


                    <a href="{% url 'login' %}" class="btn btn-outline-success">Already Registered Click here to Login</a> <br/><br>
        </div>
    </div>
</div>
{% endblock %}